<a href="https://colab.research.google.com/github/FrancescoSarandrea/deeplearning/blob/main/Deep1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** email** = umberto.ferraro@uniroma1.it

# Brevissima introduzione a Google Colab.
Attraverso il servizio Google Colab posso creare dei notebook. Questi operano come contenitori di codice Python e documentabile. questo codice, cioe, puo' essere eseguito utilizzando i server che Google mette a disposizione. I notebook di Colab sono raccolte di celle testo (*Text Cell*) e celle codice (*Cell Code*). Le prime ospitano dei frammenti di testo formattati utilizzando il linguaggio **MathML**. Per questo linguaggio esistono numerose risorse on-line e non e' ogetto di approfondimento in questo corso. Le celle di tipo codice ospitano frammenti di codice Python da eseguire i server di Google. Alla nostra prima esecuzione di un codice Python Googleci riserva una macchina virtuale a noi dedicata. Da quel momento in poi tutto il codice che eseguiremo girera' in quella macchina virtuale in un interprete Python a noi dedicato. E' possibile gestire l'interprete Python che stuamo usando atraverso il menu **RunTime**.

In [ ]:
print("Ciao a tutti!")
print("Ho detto ciao")
print("Mi sentite?")

Ciao a tutti!
Ho detto ciao
Mi sentite?

#Python
##Tipi primitivi
Python consente la relaizzazione di applicazioni per la manipolazione di dati. Come prerequisito e' necessario codificare questi dati in memoria. Per codificare questi dati occorre fare ricorso ad uni dei tipi di dato disponibili in Python. Il linguaggio differisce de molti altri nel fatto che i tipi di dato sono apparentemente limitati.

* **Tipi numerici**

* int
* float
* complex

* **Tipi booleani**
* bool

* **Sequenze di caratteri**
* str

Notiamo la limitata disponibilita' dei tipi di dato in Python. Nel caso dei tipi numerici abbiamo solo tre scelte. A differenza di altri linguaggi, non e' possibile selezionare la precisione nella rappresentazione. E' il linguaggio al posto nostro a sceglliere la precisione da usare in vase alla lunghezza del valore da conservare. La taglia massima che puo' raggiungere un valore in memoria e' unicamente limitata dalla stessa memoria disponibile. 
##Operatori numerici
Introduciamo adesso gli operatori disponibili per la manipolazione di tipi numerici. Approfondiamo il caso degli interi, gli stessi operatori sono disponibili anche per gli altri numerici.

In [ ]:
print(4+7) #addizione
print(4-7) #sottrazione
print(4*7) #moltiplicazione
print(4/7) #divisione

'''
nella sezione sottostante introduciamo casi meno ovvi:
-esponenziazione
-resto della divisione
-parte intera della divisione
'''
print(4**7)
print(7%4)
print(7//4)

11
-3
28
0.5714285714285714
16384
3
1

Spesso si rende necessario assemblare delle espressioni che facciano uso di piu' operatori contemporaneamente.Nel caso di Python, in presenza di piu' operatori, si da' priorita' alle senguenti operazioni:

* esponenziazione
* divisioni, moltiplicazioni
* addizioni, sottrazioni

Nel caso di pareggio, sono valutate le operazioni incontrate per prime, da sinistra verso destra. Possiamo scegliere un ordine arbitratio usando le parentesi tonde.

In [ ]:
(4+7)*5
4+7*5

39

## Operratori di confronto
E' possibile confrontare coppie di valori rispettoa alla relazione d'ordine naturale, ottenendo come risultato dei booleani, usando i seguenti operatori:

In [ ]:
print(7>4)
print(7>=4)
print(7!=4)
print(7<=4)

True
True
True
False

# Tipi booleani
Consentono di codificare due stati: True e False.
Date due espressioni di tipo booleano, posso combinarle usando operatori booleani.

In [ ]:
print(7>4)
print(3>1)
print((7>11) and (3>1))
print((7>11) or (3>1))

# l'operatore not restituisce True se l'espressione in input e' False, altrimenti False
print(not(7>11))

True
True
False
True
True

### Tipi di stringhe
Le stringhe sono sequenze di caratteri la cui taglia e' limitata dalla memoria disponibile. Esistono diverse sintassi per la creazione di una stringa in Python. Esistono divese sintassi e differiscono in base al carattere usato come delimitatore. In caso ce ne fosse bisogno e' possibile definire stringhe al cui interno e' presente testo arbitrario. E' possibile proteggere il contenuto di una stringa facendo precedere il contenuto dal carattere \.

In [ ]:
print("questa espressione e' vera")
print("anche quest'espressione e' vera")
print("""Ho detto che l'altra espressione e' 


"vera" """)
print('anche quest\'altra espressione e\' vera')

questa espressione e' vera
anche quest'espressione e' vera
Ho detto che l'altra espressione e'


"vera"
anche quest'altra espressione e' vera

Le stringe in Python sono _immutable_ (immutabili), non e' cioe' possibile modificarne il contenuto. E' possibile accedere al loro contenuto per mezzo dell'operatore []. Indicando la posizione del carattere di una stringa, e' possibile leggerne il valore. Ricordiamo che i caratteri iniziano dalla posizione 0. Lo stesso operatore puo' essere usato anche per selezionare intervalli di caratteri (operatori di _slicing_).

In [ ]:
'abracadabra'[2] #accedo ad un singolo carattere
'abracadabra'[2:5] #accedo ad una sottostringa
'abracadabra'[2:] #accedo alla sottostringa che parte da 2 fino allla fine
'abracadabra'[:5] # a partire dal quinto carattere
'abracadabra'[:] #clono la stringa
'abracadabra'[::2] #seleziona caratteri a step di distanza 2
'abracadabra'[1::2] #seleziona i caratteri di indice dispari
'abracadabra'[::-2] #seleziono i caratteri di indice pari da destra verso sinistra
'abracadabra'[::-1]#rovescio la stringa
'abracadabra'[:-2] #seleziona tutti i caratteri e si ferma a 2 caratteri dalla fine

#e' possibile utilizzare alcuni degli operatori aritmetici su stringhe 
'abra' + 'cadabra'
'abracadabra'*3
'e'+'abracadabra'[1:]
len('abracadabra')
'abracadabra'.upper() #tutto maiuscolo
'abracadabra'.lower() #tutto minuscolo

'abracadabra'

## Le variabili in Python
Nelle nostre applicazioni i dati sono precentivamente caricati in memoria e facciamo riferimento ad essi attraverso delle variabili. Ciascuna variabile punta ad un dato presente in memoria e possiede un proprio *identificatore* attraverso il quale puo' essere richiamato. Tipicamente, in altri linguaggi di programmazione, si dichiarano le variabili che si intendono usare. Cioe', per ciascuna variabile, si sceglie **tipo** e **identificatore**. Questa fase e' assente in Python, per cui non occorre dichiarare preventivamente le variabili. Una variabile nasce nel momento in cui la si inizia ad usare. L'approccio usato da Python e' il cossiddetto *duck typing* (if it quacks like a duck, it's a duck). La scelta degli identificatori per una variabile deve sottostare a delle semplici regole. Il nome puo' contenere solo lettere (maiuscole e minuscole) e numeri, non puo' iniziare se non con una lettera. L'unico caratteres epciale consentito e' il carattere _.

In [ ]:
somma=0
type(somma)
print(somma)

0

E' possibile indagare il tpo di una variabile attraverso la variabile **type**.

In [ ]:
type(somma) is int
type(somma) is str
type(somma) is bool
type(somma) is float

False

Sono disponibili inoltre delle funzioni per la conversione tra tipi.

In [ ]:
numero='211'
type(int(numero))
bool(1) #qualunque numero diverso da 0 e' convertito in bool True 
bool(0)
bool('qreq') #qualunque stringa non vuota e' convertita in bool True
bool('')

False

#Funzioni Input/Output
Introduciamo brevemente alcune funzioni necessarie per interagire con le nostre applicazioni Python.

In [ ]:
stringa=input('Inserisci stringa')

Inserisci stringaabracadabra

In [ ]:
print('Stringa di prova')
a=5
b=7
somma=a+b
print('La somma di '+ str(a) + ' e ' + str(b) + " e': " +str(somma))
print(f"La somma di {a} e {b} e': {somma}")
print(f"Il rapporto di {a} e {b} e': {a/b:07.5}")

Stringa di prova
La somma di 5 e 7 e': 12
La somma di 5 e 7 e': 12
Il rapporto di 5 e 7 e': 0.71429

In [ ]:
#Il metodo split partiziona uan stringa in una raccolta di stringhe utilizzando il carattere acquisito in input come separatore
stringa= '5;Tizio;Rossi;32'
stringa.split(';')[2]

'Rossi'

## Il costrutto if
Nella redazione del nostro codice capita frequentemente di vincolare l'esecuzione di un certo blocco di istruzioni al verificarsi di una certa condizione booleana. Questo comportamento puo' essere codificato in Python attraverso il costrutto **if**. La sintassi d'uso prevede l'indicazione della _keyword_ **if**, seguita dalla condizione booleana da testare e dal carattere **:** . A partire dalla riga successiva, spostato a destra rispetto alla posizione iniziale di **if**, andra' riportato il blocco di codice da eseguire se la condizione e' vera.

In [ ]:
a=5

if a>0:
  print('positivo')
else:
  print('negativo')

print('basta')

positivo
basta

In [ ]:
if a>0:
   print('positivo')
elif a==0:
   print('nullo')
else:
   print('negativo')

positivo

# Il costrutto while
Capita frequentemente di dover eseguire un certo blocco di codice ripetutamente, fintanto che una certa condizione e' soddisfatta. E' possibile codificare soluzioni del genere in python usando cicli **while**.
Sintassi: indicazione della _keyword_ **while**, seguita dalla condizione da verificarsi e dal carattere **:**. A partire dalla riga successiva usiamo la stessa indentazione di **if**.

In [ ]:
a=5

while a>0:
  print(a)
  a=a-1

5
4
3
2
1

Di norma quando si incontra un ciclo while se ne esegue ripetutamente il contenuto finche' la condizione di ripetizione non e' piu' vera. Tuttavia ci sono casi in cui desideriamo poter governare esplicitamente il funzionamento di questo ciclo.

In [ ]:
'''
Nell'esempio seguente l'utente ha la possibilita' di inserire un numero variabile di valori. Una volta terminato, l'applicazione ne mostrera' a schermo la somma
'''
somma=0
x=input('inserisci il prossimo valore (0 per uscire): ')

while bool(int(x)):
  somma+=int(x)
  x=input('inserisci il prossimo valore (0 per uscire): ')

print(f"La somma e': {somma}")

In [ ]:
somma=0
x=input('inserisci il prossimo valore (0 per uscire): ')

while True:
  x=input('inserisci il prossimo valore (0 per uscire): ')
  if not(x.isdecimal()):
    print("Il valore inserito non e' valido")
    continue

  if int(x)==0:
    break

  somma+= int(x)

print(f"La somma e': {somma}")

inserisci il prossimo valore (0 per uscire): 0
inserisci il prossimo valore (0 per uscire): 0
La somma e': 0

## Il costrutto for
Il costrutto for ci consente di iterare sugli elementi di una _collection_. Se abbiamo un insieme di valori e dobbiamo processarli uno ad uno, secondo un ordine qualsiasi. Utilizzando un ciclo for si possono pescarli secondo un ordine no noto a priori e processarli uno alla volta.

In [ ]:
for c in "abracadabra":
  print(c)

a
b
r
a
c
a
d
a
b
r
a

Spesso altrove il ciclo for viene utilizzato in congiunzione ad una variabile, tipicamente un indice posizionale. In Python questo puo' essere fatto utilizzando la funzione range().

In [ ]:
for i in range(-4,10):
  print(i)

-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

# Le funzioni in Python
Nell'affrontare la risoluzione di problemi complessi si privilegia la possibilita' di decomporre questi problemi in problemmi piu' semplii da risolvere mediante l'uso di funzioni. Una funzione e' un blocco di codice che assolve a un certo scopo secondo un'interfaccia formalizzata. E' quini prevista una fase formale in cui si dichiara il corpo della funzione (_body_) e l'interfaccia della funzione (_header_). L'uso delle funzioni e' quindi raccomandato sia per affrontare problemi di mdia/grande complessita' ma anche per favorire la riusabilita' e la manutenibilita' del codice. In python e' prevista la possibilita' di definire ed utilizzare funzioni. 

E' possibile definire una nuova funzione mediaante la keyword **def**, seguita da un identificatore per la stessa e, tra parentesi tonde, dall'elenco dei parametri.

L'esecuzione della funzione comporta

In [ ]:
def greet():
  print("Hi!")

In un momento succesivo, e' possibile eseguire una funzione precedentemente definita invocandola per nome ed indicando tra parentesi gli eventuali argomenti.

In [ ]:
greet()

Hi!

Nel caso di Python, differentemente da altri linguaggi, quando si definisce una funzione non occorreindicare il tipo di dato dei suoi argumenti.

In [ ]:
def greet(name):
  print(f"Hello {name}!")

In [ ]:
greet("Francesco")

Hello Francesco!

In alcuni casi e' buona pratica inserire un check opzionale, che puo' essere attivato a seconda del caso.
In python non e' necessario dichiarare il tipo di valore restituito da una funzione, ne' il fatto che ci sia un valore di ritorno.

In [ ]:
'''
La funzoine sum somma il contenuto di due variabili assumentdo che siano numeriche.
Opzionalmente e' possibile attivare un safety check per verificare la correttezza di questi tipi prima di procedere
'''

def sum(a,b,safety_check=False):
  if safety_check:.
     if type(a) is not int or type(b) is not int:
       print("Invalid input")
       return      
  return a+b

print(sum("3",4,True))

Invalid input
None

Negli esempi precedenti i valori degli argomenti erano passati per posizione. Questo non e' necessario. Python supporta anche i **named arguments**, per cui e' possibile specificare i parametri in un ordine qualsiasi.

In [ ]:
sum(safety_check=True,a=3,b=6)

9

In Python ogni variabile ha un suo ambito di visibilita'. All'interno di una funzione e' possibile accedere  alla variabile localmente a quella funzione. Se si vuole accedere a una variabile esterna all'interno di una funzione, bisogna aggiungere l'attributo **global**.

In [ ]:
#Inizialmente somma e' una variabile globale, accessibile in sola lettura dalle funzioni
def sum(a,b):
  
  #se ho bisogno di modificare il valore di una variabile la definisco come global
  global somma 
  somma=a+b
sum(6,7)
#ritrovo l'aggiornamento precedentemente fatto all'interno della funzione
print(somma)

## Le strutture dati di Python
Negli esempi visti finora i dati erano singoli valori. Questo e' irrealistico, nella relata' si lavora con dataset di numerose variabili. Ci occorrono quindi delle strutture dati che ci consentano di conservare questi dataset in memoria ed organizzarli per predisporli a certi tipi di analisi. Python offre l'implementazione di diverse strutture dati utili per gestire numerosi casi applicativi. Tutte queste strutture dati, pur essendo internamente organizzate in modo diverso, sono tutte assimilabili a delle collezioni.

# Le tuple
La tupla e' una struttura dati di Python che consente di mantenere collezioni **immutabili** di valori **eterogenei**. Un tipico esempio d'uso e' quello della codifica dei record acquisiti da una base dati. Nella sintassi di Python e' possibile definire una nuova tupla come (ex1,ex2,ex2).

In [ ]:
t1=(13,'Ugo','Rossi',25,True)
t2=(14,'Eva','Bianchi',28,False)
t3=(14,'Eva','Bianchi',False,28)

Si accede al contenuto della tupla con l'operatore **[ ]** indicando la posizione/range di posizioni di elemento/i. Come per le stringhe, le tuple non possono essere modificate. Una tupla di un solo valore e' scritta come: (elemento,) .

In [ ]:
tupla_corta=(1,)
t1=(13,'Ugo','Rossi',25,True,(12,2,1987),('Via Tal dei Tali','Roma'))
len(t1)

7

# Le liste in Python
Le liste implementano strutture dati in grado di ospitare elementi omogenei **dinamicamente**. Per instanziare una nuova lista e' sufficiente indicarne il contenuto racchiusa da una coppia di **parentesi quadre**. I singoli elemtni vengono ottenuti nello stesso modo delle tuple.

In [ ]:
lista_frutta=['pera','banana','anguria']
lista_verdura=['zucchina','peperone','ravanello']
lista_cose_da_comprare=[]

A differenza delle tuple, e' possibile aggiornare il contenuto di una lista.

In [ ]:
lista_frutta[0]='ananas'
lista_frutta

['ananas', 'banana', 'anguria']

In [ ]:
lista_cose_da_comprare.clear() #cancella il contenuto
lista_cose_da_comprare.append('detersivo') #aggiungi elemento
lista_cose_da_comprare.insert(0,'sapone') #inserisce elemento in una posizione specifica
lista_cose_da_comprare= lista_frutta+lista_verdura
print(lista_cose_da_comprare)

['ananas', 'banana', 'anguria', 'zucchina', 'peperone', 'ravanello']

In [ ]:
lista_cose_da_comprare.pop(3) #estraggo l'elemento in una certa posizione da una lista (ultimo elemento scelto se non e' dato nessun indice)

'zucchina'

In [ ]:
'ananas' in lista_cose_da_comprare
'pompelmo' in lista_cose_da_comprare

False

In [ ]:
soggetti=[(11,'Ugo','Rossi'),(12,'Ugo','Rossi'),(13,'Ugo','Rossi')]
soggetti[0][1]

'Ugo'

In [ ]:
x=tuple() #creo una tupla vuota
type(tuple)

type

## I dizionari
I dizionari sono strutture dati associative che consentono di conservare _record_ nella forma (K,V0, dove K e' la chiave con cui il record e' indicizzato, e V e' il valore corrispondente. Sono strutture dati ottimizzate per operazioni di **accesso puntuale**, implementate mediante l'uso di tabelle _hash_.
Un dizionario e' una struttura che sulla parte destra ha un _array_ i cui elementi sono ordinati, sulla sinistra ha una serie di chiavi che, una volta fornita alla _hash function_, mi restituisce l'indice dell'elemento dell'_array_. Normalmente gli elementi dell'array del dizionario sono delle tuple. L'operazione per trovare un elemento si chiama _look up_.
I dizionari sono meglio delle liste perche' per trovare un elemento in una lista bisogna scorrere l'intera struttura dati (ogni elemento della lista).

In [ ]:
#Creo u dizionario vuoto
prezzi=dict()
#creo un dizionario contenente dell eassociazioni
prezzi={'mele':250,'ciliegie':450, 'anguria':50}

Una volta creato un dizionario e' possibile conoscere il valore associato ad una chiave mediante l'operatore *[ ]*.

In [ ]:
prezzi['mele']

250

Posso operare lo stesso operatore anche per aggiornare il dizionario.

In [ ]:
prezzi['melone']=60
prezzi['mele']=230

if 'fragole' in prezzi:
  print(prezzi['fragole'])
else:
    print('le abbiamo finite')

le abbiamo finite

In alternativa all'operatore *[ ]* e' possibile usare il metodo *get*. La differenza e' che se la chiave e' assente il metodo non fallisce, ma restituisce _None_.

In [ ]:
print(prezzi.get('melel'))

None

In [ ]:
#cancello un'associazione dal dizionario, a partire dalla sua chiave
del(prezzi['miele'])
#estraggo il valore associato ad una certa chiave, cancellando l'associazione sottostante
print(prezzi.pop('melone'))

In [ ]:
#posso ottenere una collection contenente tutte le chiavi di un dizionario attraverso il metodo keys
for k in prezzi.keys():
  print(k)

#allo stesso modo posso ottenere tuti i valori con la funzione values
for k in prezzi.values():
  print(k)

#converto le collections in liste
list(prezzi.keys())

mele
ciliegie
anguria
melone
230
450
50
60

['mele', 'ciliegie', 'anguria', 'melone']

## Gli insiemi
La struttura dati _set_ consente di mantenere collezioni dinamiche di valori omogenei non ordinate. Per definizione in un insieme non possono esistere duplicati (nel caso si inserisca un valore gia' presente, il nuovo input viene ignorato).

In [ ]:
gusti_paolo={'pizza','messicano', 'cinese'}
gusti_lara={'vietnamita', 'veggie','cinese'}
gusti_enzo={'cinese','pizza', 'texmex'}

In [ ]:
for g in gusti_paolo:
  print(g)

cinese
vietnamita
pizza
messicano

In [ ]:
gusti_paolo.add('vietnamita')
gusti_paolo.add('messicano')

In [ ]:
#remove cancella un elemento se presnete, altrimenti restituisce un'eccezione
gusti_lara.remove('vietnamita')
#remove un elemento se presente 
gusti_lara.discard('vietnamita')

KeyError: ignored

In [ ]:
gusti_almeno_uno=gusti_paolo | gusti_lara | gusti_enzo
for g in gusti_almeno_uno:
  print(g)

gusti_condivisi= gusti_paolo & gusti_lara & gusti_enzo 
for g in gusti_condivisi:
  print(g)

#l'operatore - valuta la differenza tra due insiemi
gusti_paolo-gusti_lara

vietnamita
pizza
cinese
veggie
texmex
messicano
cinese

{'messicano', 'pizza', 'vietnamita'}

Nel caso ci sia bisogno di cristallizzare il contenuto di un insieme rendendolo accesibile in sola lettura, e' possibile convertirlo in un **frozenset** con una funzione omonima.

In [ ]:
gusti_condivisi=frozenset(gusti_condivisi)
'cinese' in gusti_condivisi

True

# Caso di studio: Indici diretti e indici inversi
Nell'ambito della realizzazione di un motore di ricerca occorre predisporre delle strutture dati utilizzate per indicizzare le parole presenti in un certo documento di testo. Le domande cui rispondono queste strutture sono due:

* quali parole sono presenti in un certo documento
* in quale documento sono presenti certe parole

Per rispondere a queste domande si costruiscono e si mantengono un indice diretto e un indice inverso.

## Costruzione di un indice diretto
Supponiamo di ricevere in input una collezione di cdocumenti di testo C, il nostro obiettivo e' realizzare una funzione che ci restituisca una struttura dati associativa. Interroganso questa struttura dati fornendo in input il nome di un certo documento, ci aspettiamo come uotput la lista delle parole presenti al suo interno.Piu' correttamente, la lista non dovrebbe prevedere duplicati, escludere parole di uso comune che non danno significato al testo e indicare le frequenze relative.

In [ ]:
#prima versione della funzione per l'estrazione delle parole in un testo 
# il risultato viene fissato in una lista di stringhe
def estrai_parole_v1(filename):
  parole=[]
  f=open(filename)
  for line in f:
    words=line.split()
    for word in words:
      w=word.strip('.,;:-()?! ').lower();
      if w not in parole:  #"not in" e' una funzione molto costosa per le liste
        parole.append(w)

  return parole

In [ ]:
def estrai_parole_v2(filename):
  parole=set()
  f=open(filename)
  for line in f:
    words=line.split()
    for word in words:
      w=word.strip('.,;:-()?! ').lower();
      parole.add(w)
      
  return parole

In [ ]:
# prima versione che conta il numero di volte che una parola appare 
# (scritta da Francesco)
def estrai_parole_v3f(filename):
  parole_indexed=[]
  f=open(filename)
  for line in f:
    words=line.split()  

    for word in words:
      w=word.strip('.,;:-()?! ').lower();

      if w in parole_indexed:
         ind=parole_indexed.index(w)+1
         parole_indexed[ind+1]+=1
      else:
         parole_indexed.append(w)
         parole_indexed.append(1) 
                  
  return parole_indexed

In [ ]:
# versione milgiore della funzione estrai_parole 
# (scritta da Francesco)
def estrai_parole_v4(filename):
  parole=[]
  freq=dict()

  f=open(filename)
  for line in f:
    words=line.split()  
    for word in words:
      w=word.strip('.,;:-()?! ').lower();
      if len(w)==0:
        continue
      
      if w not in freq:
        freq[w]=1
      else:
        freq[w]=freq[w]+1
                  
  return list(freq.items())

In [ ]:
before=datetime.datetime.now()
estratto=estrai_parole_v3('nasodargento.txt')
after=datetime.datetime.now()
print(after-before)

0:00:00.026819

In [ ]:
type(estratto[0])
type(estratto[1])

int

In [ ]:
import datetime
before=datetime.datetime.now()
parole=estrai_parole_v1('nasodargento.txt')
after=datetime.datetime.now()
print(f"Trmpo di esecuzione richiesto: {after-before}")
print(f"Numero di parole estratte: {len(parole)}")

Trmpo di esecuzione richiesto: 0:00:00.007484
Numero di parole estratte: 574

In [ ]:
import datetime
before=datetime.datetime.now()
parole=estrai_parole_v2('nasodargento.txt')
after=datetime.datetime.now()
print(f"Trmpo di esecuzione richiesto: {after-before}")
print(f"Numero di parole estratte: {len(parole)}")

Trmpo di esecuzione richiesto: 0:00:00.001348
Numero di parole estratte: 574

In [ ]:
def costruisci_indice_diretto(lista_file):
  indice_diretto=dict()

  for file in lista_file:
    parole=estrai_parole_v4(file)
    indice_diretto[file]=parole

  return indice_diretto

def construisci_indice_inverso(lista_file):
  indice_diretto=costruisci_indice_diretto(lista_file)
  
  indice_inverso=dict()

  for file in lista_file:
    print(indice_diretto[file].values())
    word_list=[]
    for p in indice_diretto[file].values():
      for g in p:
        word_list.append(g[0])
      
    for word in word_list:
      indice_inverso[word]=[file]
    else:
      indice_inverso[word].append(file)
  
  return indice_inverso

In [ ]:
def estrai_parole_v5(filename):
  parole=[]
  freq=dict()

  f=open(filename)
  for line in f:
    words=line.split()  
    for word in words:
      w=word.strip('.,;:-()?! ').lower();
      if len(w)==0:
        continue
      
      if w not in freq:
        freq[w]=1
      else:
        freq[w]=freq[w]+1
                  
  return list(freq.items())


# costruisce l'indice inverso con il supporto delle frequenze
def construisci_indice_inverso_v2(lista_file):
  indice_diretto=costruisci_indice_diretto(lista_file)
  
  indice_inverso=dict()

  for file in lista_file:
      
    for t in indice_diretto[file]:
      if t[0] not in indice_inverso:
        indice_inverso[t[0]]=[(file,t[1])]
    else:
      indice_inverso[t[0]].append((file,t[1]))
  
  return indice_inverso

In [ ]:
lista_files=['filocolo.txt','principegranchio.txt','nasodargento.txt']

indice_inverso=construisci_indice_inverso_v2(lista_files)

In [ ]:
indice_inverso['casa']

[('filocolo.txt', 75)]

In [ ]:
indice_diretto_naso=costruisci_indice_diretto(["nasodargento.txt"])

In [ ]:
print(indice_diretto_naso)

{'nasodargento.txt': [('naso', 26), ('dargento', 27), ('di', 30), ('italo', 1), ('calvino', 1), ('cera', 3), ('una', 12), ('lavandaia', 6), ('che', 38), ('era', 12), ('rimasta', 3), ('vedova', 1), ('con', 12), ('tre', 2), ('figliole', 1), ('singegnavano', 1), ('tutte', 6), ('e', 62), ('quattro', 1), ('a', 38), ('lavar', 1), ('roba', 11), ('pi', 7), ('potevano', 2), ('ma', 16), ('pativano', 1), ('la', 70), ('fame', 1), ('lo', 8), ('stesso', 2), ('un', 22), ('giorno', 3), ('figlia', 9), ('maggiore', 5), ('disse', 22), ('alla', 6), ('madre', 10), ('', 71), ('dovessi', 1), ('anche', 10), ('andare', 2), ('servire', 1), ('il', 37), ('diavolo', 16), ('voglio', 3), ('andarmene', 1), ('via', 3), ('casa', 17), ('non', 23), ('dire', 2), ('cos', 14), ('mia', 7), ('fece', 9), ('sai', 1), ('cosa', 6), ('ti', 11), ('pu', 1), ('succedere', 1), ('passarono', 1), ('molti', 1), ('giorni', 1), ('loro', 1), ('si', 19), ('present', 1), ('signore', 2), ('vestito', 2), ('nero', 1), ('tutto', 3), ('compito', 1), ('col', 3), ('so', 1), ('avete', 1), ('figlie', 1), ('lascereste', 1), ('ne', 6), ('venisse', 1), ('mio', 1), ('servizio', 1), ('lavrebbe', 1), ('lasciata', 2), ('subito', 5), ('quel', 1), ('le', 24), ('piaceva', 1), ('chiam', 1), ('in', 26), ('disparte', 1), ('guarda', 2), ('questo', 3), ('mondo', 1), ('uomini', 1), ('ce', 2), ('sono', 3), ('sta', 1), ('attenta', 1), ('se', 16), ('vai', 1), ('lui', 3), ('te', 1), ('potresti', 1), ('pentire', 1), ('vedeva', 1), ('lora', 1), ('dandarsene', 1), ('part', 1), ('quelluomo', 1), ('fecero', 1), ('molta', 1), ('strada', 2), ('per', 12), ('boschi', 1), ('montagne', 1), ('certo', 2), ('punto', 1), ('lontano', 4), ('vide', 5), ('gran', 3), ('chiarore', 1), ('come', 5), ('dun', 1), ('incendio', 1), ('c', 3), ('laggi', 1), ('chiese', 1), ('ragazza', 14), ('cominciando', 1), ('sentire', 1), ('po', 3), ('dapprensione', 1), ('l', 1), ('andiamo', 2), ('prosegu', 1), ('sapeva', 3), ('ormai', 4), ('trattenere', 1), ('tremito', 1), ('arrivarono', 1), ('palazzo', 1), ('port', 3), ('vedere', 6), ('stanze', 2), ('bella', 1), ('dellaltra', 2), ('dognuna', 1), ('dava', 1), ('chiave', 2), ('giunti', 1), ('porta', 12), ('dellultima', 1), ('stanza', 4), ('diede', 3), ('questa', 8), ('devi', 1), ('aprire', 4), ('nessuna', 1), ('ragione', 1), ('no', 2), ('guai', 1), ('resto', 1), ('sei', 2), ('padrona', 1), ('pens', 3), ('qui', 1), ('qualcosa', 1), ('sotto!', 1), ('ripromise', 1), ('daprire', 1), ('quella', 6), ('appena', 6), ('lavesse', 1), ('sola', 5), ('sera', 3), ('dormiva', 1), ('nella', 1), ('sua', 9), ('cameretta', 1), ('quando', 8), ('entr', 1), ('furtivamente', 1), ('savvicin', 2), ('al', 7), ('suo', 4), ('letto', 6), ('pose', 1), ('tra', 5), ('i', 6), ('capelli', 5), ('rosa', 3), ('silenzioso', 1), ('comera', 1), ('venuto', 1), ('and', 4), ('lindomani', 2), ('mattina', 4), ('usc', 1), ('suoi', 1), ('affari', 1), ('chiavi', 2), ('corse', 1), ('ad', 2), ('proibita', 2), ('schiuse', 1), ('uscirono', 1), ('fuori', 2), ('fiamme', 3), ('fumo', 3), ('mezzo', 3), ('fuoco', 4), ('pieno', 1), ('danime', 1), ('dannate', 1), ('bruciavano', 1), ('cap', 1), ('allora', 1), ('linferno', 1), ('grido', 1), ('chiuse', 4), ('scapp', 2), ('quanto', 3), ('poteva', 3), ('da', 16), ('infernale', 1), ('lingua', 1), ('aveva', 2), ('bruciacchiato', 1), ('portava', 1), ('torn', 6), ('strinata', 1), ('ah', 2), ('mhai', 1), ('obbedito', 1), ('prese', 2), ('peso', 3), ('aperse', 4), ('dellinferno', 2), ('scagli', 1), ('dopo', 3), ('ritorn', 1), ('donna', 1), ('vostra', 3), ('trova', 1), ('tanto', 7), ('bene', 6), ('me', 3), ('lavoro', 2), ('', 11), ('molto', 1), ('ha', 1), ('bisogno', 1), ('daiuto', 1), ('ci', 5), ('mandereste', 1), ('seconda', 4), ('laltra', 1), ('sorella', 9), ('lei', 9), ('mostr', 2), ('tranne', 1), ('quellultima', 1), ('figuratevi', 2), ('perch', 6), ('dovrei', 1), ('aprirla', 1), ('nimporta', 1), ('dei', 1), ('fatti', 1), ('vostri', 1), ('piano', 2), ('mise', 7), ('garofano', 2), ('fu', 5), ('uscito', 2), ('prima', 5), ('dandare', 1), ('urla', 1), ('dannati', 1), ('riconobbe', 1), ('grid', 3), ('liberami', 1), ('tu', 3), ('questinferno', 1), ('sentiva', 1), ('svenire', 1), ('fretta', 2), ('dove', 1), ('nascondersi', 1), ('sicura', 1), ('mano', 2), ('senza', 3), ('scampo', 1), ('guard', 2), ('testa', 4), ('appassito', 1), ('dirle', 1), ('parola', 1), ('butt', 1), ('allinferno', 1), ('solito', 1), ('ripresent', 1), ('della', 6), ('due', 1), ('ragazze', 1), ('bastano', 1), ('mi', 7), ('dareste', 1), ('terza', 2), ('chiamava', 1), ('lucia', 17), ('ed', 1), ('furba', 1), ('solite', 1), ('raccomandazioni', 1), ('mestruare', 1), ('addormentata', 2), ('fiore', 1), ('nei', 1), ('fior', 1), ('gelsomino', 5), ('salz', 1), ('pettinarsi', 1), ('guardandosi', 1), ('nello', 1), ('specchio', 1), ('guarda', 1), ('po', 1), ('naso', 1), ('mha', 1), ('messo', 1), ('gentile', 1), ('pensiero', 3), ('mah', 1), ('metter', 1), ('fresco', 1), ('bicchiere', 1), ('du', 1), ('pettinata', 1), ('visto', 1), ('adesso', 1), ('misteriosa.', 1), ('aperto', 1), ('ecco', 1), ('vien', 1), ('contro', 1), ('vampa', 1), ('vede', 2), ('tanta', 1), ('gente', 1), ('bruciava', 1), ('tutti', 1), ('poi', 3), ('gridarono', 1), ('toglici', 1), ('qui', 4), ('salvaci', 1), ('richiuse', 1), ('salvare', 1), ('sorelle', 1), ('sera', 4), ('rimessa', 1), ('faceva', 1), ('finta', 1), ('niente', 3), ('oh', 1), ('fresco', 2), ('avrebbe', 2), ('dovuto', 1), ('esser', 1), ('tengono', 1), ('fiori', 1), ('secchi', 1), ('dicevo', 1), ('sembri', 1), ('brava', 1), ('continuerai', 1), ('andremo', 1), ('sempre', 1), ('daccordo', 1), ('contenta', 1), ('s', 3), ('sto', 1), ('starei', 1), ('ancor', 1), ('meglio', 2), ('avessi', 1), ('partita', 1), ('stava', 1), ('ora', 4), ('sue', 1), ('notizie', 4), ('faccio', 1), ('passo', 1), ('io', 6), ('porto', 1), ('grazie', 1), ('siete', 1), ('proprio', 2), ('buono', 1), ('potete', 2), ('passarci', 1), ('domani', 1), ('intanto', 1), ('preparo', 1), ('sacco', 20), ('sporca', 4), ('sta', 1), ('gliela', 1), ('date', 1), ('lavare', 5), ('vi', 3), ('pesa', 2), ('figurati', 1), ('posso', 2), ('portare', 1), ('qualsiasi', 1), ('tir', 1), ('stattene', 1), ('l', 2), ('tranquilla', 1), ('carlotta', 1), ('adesso', 1), ('persona', 1), ('riporter', 1), ('senti', 1), ('fa', 1), ('posare', 3), ('bisogna', 2), ('dica', 1), ('ti', 1), ('vedo', 8), ('vedo!', 1), ('venne', 1), ('gli', 1), ('portate', 1), ('davvero', 2), ('fin', 1), ('fidi', 1), ('fido', 1), ('ho', 1), ('virt', 2), ('fate', 1), ('qualche', 1), ('parte', 1), ('storia', 2), ('credeva', 1), ('poco', 2), ('spalla', 4), ('sfido', 1), ('quanti', 1), ('anni', 1), ('erano', 1), ('davate', 1), ('cammino', 1), ('arrivato', 1), ('mezza', 1), ('sar', 1), ('per', 1), ('scusa', 1), ('mandare', 1), ('vuota', 1), ('casa', 1), ('aprirlo', 2), ('dentro', 2), ('perbacco', 2), ('vero', 1), ('distante!', 1), ('rimessosi', 1), ('difilato', 1), ('manda', 1), ('vuol', 1), ('sapere', 2), ('state', 1), ('piacere', 1), ('ritrovare', 1), ('settimana', 1), ('far', 1), ('malinconica', 1), ('dirgli', 1), ('voleva', 1), ('mand', 1), ('altro', 2), ('riusc', 1), ('guardare', 1), ('sent', 1), ('gridare', 1), ('piena', 1), ('paura', 1), ('vedendolo', 1), ('tornare', 3), ('pensava', 1), ('chiesto', 1), ('lavata', 2), ('volta', 2), ('pos', 2), ('nuovo', 2), ('verr', 1), ('prendere', 2), ('pesante', 1), ('son', 1), ('rotto', 1), ('ossa', 1), ('scarico', 1), ('andato', 1), ('tutta', 1), ('ansiosa', 1), ('abbracci', 1), ('cominci', 1), ('essere', 1), ('pena', 1), ('mai', 1), ('riattacc', 1), ('delle', 1), ('seccato', 1), ('portar', 1), ('sacchi', 1), ('obbediente', 1), ('teneva', 1), ('cara', 1), ('mal', 1), ('andava', 1), ('lascio', 1), ('preparato', 1), ('domattina', 1), ('sento', 1), ('trovate', 1), ('alzata', 1), ('prenderlo', 1), ('voi', 1), ('cucita', 1), ('bambola', 2), ('stracci', 1), ('grande', 1), ('sepolta', 1), ('sotto', 2), ('coperte', 2), ('tagli', 1), ('trecce', 1), ('cuc', 1), ('sembrava', 1), ('nel', 1), ('sprofondata', 1), ('stamattina', 1), ('malata', 1), ('non', 1), ('far', 1), ('attenzione', 1), ('buona', 1), ('solo', 1), ('sporca.', 1), ('lesto', 1), ('voce', 1), ('fosse', 1), ('scherzarci', 1), ('tanto.', 1), ('rimise', 1), ('passer', 1), ('devo', 1), ('ammalata', 1), ('famiglia', 1), ('riunita', 1), ('siccome', 1), ('portata', 1), ('dietro', 1), ('tanti', 1), ('quattrini', 1), ('del', 1), ('vivere', 1), ('felici', 1), ('contente', 1), ('piantarono', 1), ('croce', 1), ('davanti', 1), ('alluscio', 1), ('oso', 1), ('avvicinarsi', 1)]}

## I moduli Python
Python, come altri linguaggi, supporta la riusabilita' del codice medante la possibilita; di utilizzare dei moduli che in un secondo tempo potranno essere importati nelle nostre applicaioni per adoperare le funzioni e le classi presenti al loro interno. Nel momento in cui si importa un modulo in una applicazione Python, si rendono disponibili le definizioni presenti al suo interno alla nostra applicazione. Per tenere ordine tra la diversre cose sara; possibile accedere a quelle definizioni indicando preventivamente il nomde del modulo.

In [ ]:
import math
math.sqrt(4)

2.0

In alcuni casi i nomoi dei moduli possonno essere particolatmente prolissi, e' possibile abbreviarli un _nickname_.

In [ ]:
import math as banana
banana.sqrt(4)

2.0

Se in un modulo e' oresnete una funzione che conto di utilizzare particolatmente spesso, posso trasferire la definizione di quella funzione nel mio scopo/environment attuale.

In [ ]:
from math import sqrt
sqrt(2)

1.4142135623730951

# La libreria Pandas
Abbaimo visto come Python ci offra numerose strutture dati che ci aiutano nel momenti in cui sobiamo gestire collezioni di valori, dove ciascua struttura e' ottimizzata per una particolare operazione o per una cera famiglia di operazioni. La realta' e' molto piu' complessa: i dati che abbiamo bisogno di analizzare possono essere codificati nei modi piu' disparati e provenire da fonti eterogenee. Tutte queste attivita' possono essere accelerate usando librerie come **Pandas**. Pandas mette a disposizione delle strutture dati piu' astratte rispetto a quelle disponibili con Python. Pandas offre numerose funzioni di utilita; utilizzabili per gestire input-output dai formati e dalle forme piu' disparate. La libreria Pandas e' costruita sulla libreria Numpy.

# La struttura dati Series
La struttura dati Series ci sonsente di mantenere una collezione di valori indicizzati. 
Il modo piu' semplice per istanziare una Series e' quello

In [ ]:
import pandas as pd
 #data input contenente i valori di popolazione di citta' italiane
p=[4000,4000,3000,2000,2000]
labels=['Rome', 'Milan','Naples','Turin','Bari']
p=pd.Series(p,labels)
type(p)

pandas.core.series.Series

Quando istanziamo una nuova sries intervinene un meccanismo di type guessing per cui automaticamente si sceglie per la Series il tipo di dato piu' calzante ai dati che abbiamo presnetato in input.
Posso scegliere seaffidarmi ad un oindice di etichettamento automatico o scriverne uno ad hoc. Ma ricordiamo che le etichette non sono univoche.

In [ ]:
p[['Milan','Rome']]

Milan    4000
Rome     4000
dtype: int64

Posso accedere al valore di una Series indicando l'etichetta in input. Se esistono piu' valoi con la stssa etichetta, viene restituita una

In [ ]:
p['Rome']=4500

### Vettorizzazione
Capita spesso di dover applicare un certo operatore a tutti gli elementi di una collezione, di un dataset, di una Series. Quando usiamo Python siamo scoraggiati dall'usare dei cicli for. Su tutti i pc sono disponibili multicore. Nel caso di **numpy** e **Pandas** e' possibile eseguire numerose operazioni in modalita' vettorizzata. Ossia, lo sviluppatore richiede una certa operazione de applicarsi a tutti gli elementi di una struttura dati. La librearia trasforma quella richiesta su;;'intera struttura dari in un codice che processa, spesso in parallelo, tutti gli elementei della stessa struttura dati. Nell'esempio sottostante rilizzo un'espressione vettorizzata per individuare i casi in cui i valori superano una certa soglia. Vengono filtrati solo i valori cui corrisponde il valore True.

In [ ]:
p[p>3000]

Rome     4500
Milan    4000
dtype: int64

E' possibile aggiungere nuovi valori ad una Series preesistente, creando una struttura compatibile con quella preesistente e concatenandole.

In [ ]:
p1=pd.Series([500],['Venice'])

In [ ]:
p=pd.concat([p,p1])

In [ ]:
p

Rome      4500
Milan     4000
Naples    3000
Turin     2000
Bari      2000
Venice     500
dtype: int64

Di converso posso eliminare i dati da una Series utilizzando il metodo **drop**.

In [ ]:
p.drop('Venice')

Rome      4500
Milan     4000
Naples    3000
Turin     2000
Bari      2000
dtype: int64

In [ ]:
p.max()
p.sum()

16000

## La struttura dati DataFrame
un DataFrame e' una struttura dati offerta da Pandas che consente di conservare in memoria un dataset secondo un approccio tabellare. Possiamo visualizzare/organizzare un DataFrame per variabili (o colonne) o per osservazioni (o righe). L'implementazione di un DataFrame prevede la presenza di un collezione di Series.

Se ho un certo dataset che descrive un insieme di osservazioni

In [ ]:
subjects=[(1,'Ugo','Rossi',21),(2,'Enzo','Verdi',25),(3,'Eva','Neri',24)]
subjects=pd.DataFrame(subjects, columns=['ID','Nome','Cognome', "eta'"])

In [ ]:
subjects

   ID  Nome Cognome  eta'
0   1   Ugo   Rossi    21
1   2  Enzo   Verdi    25
2   3   Eva    Neri    24

La libreria mette a disposizione numerose funzioni che posso utilizzare per investigare la geometria e la struttura di un certo DataFrame

In [ ]:
subjects.columns
subjects.shape
subjects.dtypes
subjects.head(2)
subjects.tail(2)
subjects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       3 non-null      int64
 1   Nome     3 non-null      object
 2   Cognome  3 non-null      object
 3   eta'     3 non-null      int64
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes

In [ ]:
subjects[['Cognome','Nome']]

  Cognome  Nome
0   Rossi   Ugo
1   Verdi  Enzo
2    Neri   Eva

E' possibile selezionare il contenuto di un DataFrame utilizzando l'operatore *[ ]* . In prima istanza si indica il nome della variabile, seguito eventualmente dagli indici delle righe che si intendono selezionare.

Nel caso piu' generale i dataset che avremo bisogno di analizzare proverranno da fonti esterne. Ne vediamo un esmpio con il caso Transazioni.csv

In [ ]:
t=pd.read_csv('Transazioni.csv',names=['id', 'importo','beneficiario','ordinante','tipo'],dtype={'beneficiario':str,'ordinante':str})

In [ ]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20 non-null     int64
 1   importo       20 non-null     int64
 2   beneficiario  20 non-null     object
 3   ordinante     15 non-null     object
 4   tipo          20 non-null     object
dtypes: int64(2), object(3)
memory usage: 928.0+ bytes

In [ ]:
t.shape
t.head(5)

   id  importo beneficiario ordinante              tipo
0   1     3450          872       516          bonifico
1   2      505          989       NaN  carta di credito
2   3    11320          178       136          bonifico
3   4     9325          729       378           assegno
4   5      620          706       NaN  carta di credito

Diamo un'occhiata al DataFrame risultante. Ci sono alcune sbavature su cui vorremmo intervenire:

* le variabili ordinante e beneficiario

Posso indagare la presenza di valori Null nel DataFrame usando il metodo **isnull**

In [ ]:
t[t.isnull()['ordinante']==True]
#in questo caso definisco un nuov dataframe
t=t.fillna('nd')
# in questo caso l'operazione viene eseguita sul dataframe originario
t.fillna('nd',inplace)

NameError: ignored

## Elaborazioni inplace
La stragrande maggioranza delle trasformzioni presenti in Pandas agisce sul DataFrame su cui  viene invocata, creandone una vopia su cui si applica concretamente quella trasformazione. Questa operaione richiede memoria e CPU. Per molte di queste operazioni si puo' usare il parametro **inplace()**.

In [ ]:
t[['ordinante','beneficiario','importo']]

   ordinante beneficiario  importo
0        516          872     3450
1         nd          989      505
2        136          178    11320
3        378          729     9325
4         nd          706      620
5        127          842     5775
6        136          713     7255
7        194          143    33600
8        247          979     7250
9        843          648    36545
10       759          443     1825
11       275          279    17050
12        35           66    11100
13       964          664    43880
14        nd           78      675
15        nd          437      595
16       919          760    21575
17       828          889    14710
18        nd           78      420
19       323          796     6490

E' possibile accedere alle righe di un DataFrame per mezzo del metodo **iloc**.

In [ ]:
t.iloc[[1,2,3]]
t.iloc[1:3]

   id  importo beneficiario ordinante              tipo
1   2      505          989        nd  carta di credito
2   3    11320          178       136          bonifico

## Selezione condizionata
Siamo interessati a filtrare le sole riche del DataFrame che obbediscono a una certa condizione. (e,g. le transazioni di tipo 'bonifico').
Possiamo ancora una volta usare la vettorizzazione.

In [ ]:
t['tipo']=='bonifico'

0      True
1     False
2      True
3     False
4     False
5      True
6      True
7     False
8      True
9      True
10    False
11    False
12     True
13    False
14    False
15    False
16     True
17     True
18    False
19    False
Name: tipo, dtype: bool

In [ ]:
t[(t['tipo']=='bonifico') | (t['tipo']=='carta di credito')]

    id  importo beneficiario ordinante              tipo
0    1     3450          872       516          bonifico
1    2      505          989       NaN  carta di credito
2    3    11320          178       136          bonifico
4    5      620          706       NaN  carta di credito
5    6     5775          842       127          bonifico
6    7     7255          713       136          bonifico
8    9     7250          979       247          bonifico
9   10    36545          648       843          bonifico
12  13    11100           66        35          bonifico
14  15      675           78       NaN  carta di credito
15  16      595          437       NaN  carta di credito
16  17    21575          760       919          bonifico
17  18    14710          889       828          bonifico
18  19      420           78       NaN  carta di credito

E' possibile filtrare in base a piu' condizioni contemporaneamente. Dapprima predispongo un'espressione per ciascuna condizione, questa restituira' valori booleani. Poi combino le espressioni tramite operatori logici (&, |, ...)

In [ ]:
t[(t['tipo']=='bonifico') & (t['importo']>10000)]

    id  importo beneficiario ordinante      tipo
2    3    11320          178       136  bonifico
9   10    36545          648       843  bonifico
12  13    11100           66        35  bonifico
16  17    21575          760       919  bonifico
17  18    14710          889       828  bonifico

In [ ]:
t[t['beneficiario'].str.contains('13')]

   id  importo beneficiario ordinante      tipo
6   7     7255          713       136  bonifico

In [ ]:
t[t['tipo']=='bonifico']

    id  importo beneficiario ordinante      tipo
0    1     3450          872       516  bonifico
2    3    11320          178       136  bonifico
5    6     5775          842       127  bonifico
6    7     7255          713       136  bonifico
8    9     7250          979       247  bonifico
9   10    36545          648       843  bonifico
12  13    11100           66        35  bonifico
16  17    21575          760       919  bonifico
17  18    14710          889       828  bonifico

In [ ]:
t[t['ordinante']=='323']
t[(t['ordinante']=='323') | (t['ordinante']=='194')]
#soluzione alternativa 
t[t['ordinante'].isin(['323','194'])]

    id  importo beneficiario ordinante      tipo
7    8    33600          143       194   assegno
19  20     6490          796       323  contante

In [ ]:
t[(t['tipo']=='assegno') | (t['tipo']=='bonifico')]
#soluzione alternativa
t[t['tipo'].isin(['assegno','bonifico'])]

    id  importo beneficiario ordinante      tipo
0    1     3450          872       516  bonifico
2    3    11320          178       136  bonifico
3    4     9325          729       378   assegno
5    6     5775          842       127  bonifico
6    7     7255          713       136  bonifico
7    8    33600          143       194   assegno
8    9     7250          979       247  bonifico
9   10    36545          648       843  bonifico
10  11     1825          443       759   assegno
11  12    17050          279       275   assegno
12  13    11100           66        35  bonifico
13  14    43880          664       964   assegno
16  17    21575          760       919  bonifico
17  18    14710          889       828  bonifico

In [ ]:
t.iloc[0:10][t['tipo']=='bonifico']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

   id  importo beneficiario ordinante      tipo
0   1     3450          872       516  bonifico
2   3    11320          178       136  bonifico
5   6     5775          842       127  bonifico
6   7     7255          713       136  bonifico
8   9     7250          979       247  bonifico
9  10    36545          648       843  bonifico

In [ ]:
t

    id  importo beneficiario ordinante              tipo
0    1     3450          872       516          bonifico
1    2      505          989       NaN  carta di credito
2    3    11320          178       136          bonifico
3    4     9325          729       378           assegno
4    5      620          706       NaN  carta di credito
5    6     5775          842       127          bonifico
6    7     7255          713       136          bonifico
7    8    33600          143       194           assegno
8    9     7250          979       247          bonifico
9   10    36545          648       843          bonifico
10  11     1825          443       759           assegno
11  12    17050          279       275           assegno
12  13    11100           66        35          bonifico
13  14    43880          664       964           assegno
14  15      675           78       NaN  carta di credito
15  16      595          437       NaN  carta di credito
16  17    21575          760       919          bonifico
17  18    14710          889       828          bonifico
18  19      420           78       NaN  carta di credito
19  20     6490          796       323          contante

In [ ]:
t[(t['tipo']=='bonifico') & (t['importo']>10000)][['importo','beneficiario']]

    importo beneficiario
2     11320          178
9     36545          648
12    11100           66
16    21575          760
17    14710          889

### Aggiornamenro del contenuto dei un DataFrame
Quando operiamo una selezione condizionata su un DataFrame, l'oggetto che otteniamo in output e' una sorta di vista accessibile alla sola lettura.
Se proviamo a modificare il constenuto di una delle sue variabili otteniamo errore.

In [ ]:
t.head()

   id  importo beneficiario ordinante              tipo
0   1     3450          872       516          bonifico
1   2      505          989       NaN  carta di credito
2   3    11320          178       136          bonifico
3   4     9325          729       378           assegno
4   5      620          706       NaN  carta di credito

Utilizziamo comunque la query per selezionare le righe; una volta ottenute le righe, estrapoliamo l'indice che contengono ed utilizzaimo il metodo su DataFrame  per individuare le righe da modificare.

In [ ]:
# rimpiazza tutte le occorrenze di 'bonifico' con 'b'
t.loc[t['tipo']=='bonifico','tipo']='b'
t.head()

   id  importo beneficiario ordinante              tipo
0   1     3450          872       516                 b
1   2      505          989       NaN  carta di credito
2   3    11320          178       136                 b
3   4     9325          729       378           assegno
4   5      620          706       NaN  carta di credito

In [ ]:
# modifico il DataFrame originario con 'inplace'
t['tipo'].replace('bonifico','b',inplace=True)

# esegui molte sostituzioni insieme
substitutions={'bonifico':'b', 'carta di credito': 'cc', 'assegno':'a', 'contante':'c'}
t['tipo'].replace(substitutions,inplace=True)

In [ ]:
t.head()

   id  importo beneficiario ordinante tipo
0   1     3450          872       516    b
1   2      505          989       NaN   cc
2   3    11320          178       136    b
3   4     9325          729       378    a
4   5      620          706       NaN   cc

In [ ]:
# dobbiamo usare dtype=dtype={'ID':str} perche' vorremo fare merge con t, e 
# le variabili perno devono essere dello stesso tipo (str in questo caso )
a=pd.read_csv('Anagrafe.csv',sep=';',dtype={'ID':str})

In [ ]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39 non-null     int64
 1   ID                    39 non-null     int64
 2   COGNOME               39 non-null     object
 3   NOME                  39 non-null     object
 4   GIORNONASCITA         39 non-null     int64
 5   MESENASCITA           39 non-null     int64
 6   ANNONASCITA           39 non-null     int64
 7   SESSO                 39 non-null     object
 8   INDIRIZZO             39 non-null     object
 9   CAP                   39 non-null     int64
 10  CODICECOMUNEISTAT     39 non-null     int64
 11  DESCRIZIONECOMUNE     39 non-null     object
 12  FRAZIONE              39 non-null     object
 13  CODICEPROVINCIAISTAT  39 non-null     int64
 14  SIGLAPROVINCIA        36 non-null     object
 15  DESCRIZIONEPROVINCIA  39 non-null     object
 16  CODICEREGIONE         39 non-null     int64
 17  DESCRIZIONEREGIONE    39 non-null     object
 18  COMUNENASCITA         39 non-null     object
 19  PROVINCIANASCITA      39 non-null     object
 20  LATITUDINE            39 non-null     object
 21  LONGITUDINE           39 non-null     object
dtypes: int64(9), object(13)
memory usage: 6.8+ KB

In [ ]:
a.head()

## Merge di DataFrames
Se posseggo due DataFrame distinti in cui le righe di uno dei due contengono un riferimento a righe dell'altro, posso relazionare questi due DataFrame mediante un'operazione di **merge**. Questa operazione restituisce un terzo DataFrame la cui struttura e' la somma delle strutture deu dye DataFrame di partenza. La corrispondenza tra le righe dei due DataFrame viene stabilita indicando, per ciascuno di essi, quale attributo usare per risolverla. L'operazione e; equivalente al join nel linguaggio SQL. Come per il join, per default, nel DataFrame sono presenti di ciascuno dei due DataFrame di partenza le sole righe per cui esiste

In [ ]:
t_a=pd.merge(a,t,left_on='ID',right_on='ordinante')

In [ ]:
t_a.head()

,id_x,ID,COGNOME,NOME,GIORNONASCITA,MESENASCITA,ANNONASCITA,SESSO,INDIRIZZO,CAP,...,DESCRIZIONEREGIONE,COMUNENASCITA,PROVINCIANASCITA,LATITUDINE,LONGITUDINE,id_y,importo,beneficiario,ordinante,tipo
0,34,35,Bianchini,Vincenza,9,5,1987,Femmina,"Piazza Centrale, 21",10070,...,PIEMONTE,Verrua,AO,"45,30684118","7,282311239",13,11100,66,35,b
1,126,127,Piazzi,Lara,28,7,1987,Femmina,"Via Conciliazione, 61",20024,...,LOMBARDIA,Valleve,BG,"45,57524566","9,079421143",6,5775,842,127,b
2,135,136,D'amico,Manuel,23,3,1983,Maschio,"Corso V. Emanuele, 31",84010,...,CAMPANIA,Aquino,FR,"40,65941273","14,62540238",3,11320,178,136,b
3,135,136,D'amico,Manuel,23,3,1983,Maschio,"Corso V. Emanuele, 31",84010,...,CAMPANIA,Aquino,FR,"40,65941273","14,62540238",7,7255,713,136,b
4,193,194,Bentivogli,Gabriele,28,6,1987,Maschio,"Via G. Cesare, 70",80125,...,CAMPANIA,Romeno,TN,"40,8506962","14,2463172",8,33600,143,194,a

In [ ]:
t_a[['COGNOME', 'NOME','importo','tipo']]

       COGNOME        NOME  importo tipo
0    Bianchini    Vincenza    11100    b
1       Piazzi        Lara     5775    b
2      D'amico      Manuel    11320    b
3      D'amico      Manuel     7255    b
4   Bentivogli    Gabriele    33600    a
5      Biagini   Angiolina     7250    b
6        Bruni        Alex    17050    a
7        Leone        Sara     6490    c
8    Cremonini     Tiziano     9325    a
9     Rossetti    Domenico     3450    b
10       Billi   Angiolina     1825    a
11      Parisi      Sandro    14710    b
12   Calzolari     Pierina    36545    b
13   Tartarini  Sebastiano    21575    b
14       Lippi        Emma    43880    a

## Interrogazioni aggregate e funzioni di aggregazione
Pandas offre la possibilita' di partizionare ed aggregare le righe di un DataFrame sulla base dei valori assunti da una o piu' variabili (e.g., aggregare le operazioni in base al tipo). Una volta ottenuti questi aggregati, e' possibile processarne il contenuto per mezzo di funzioni di aggregazione.

In [ ]:
t.groupby(['tipo']).agg(numero_operazioni=('tipo','count'),importo_totale=('importo','sum'),importo_minimo=('importo','min'),importo_massimo=('importo','max'))

      numero_operazioni  importo_totale  importo_minimo  importo_massimo
tipo
a                     5          105680            1825            43880
b                     9          118980            3450            36545
c                     1            6490            6490             6490
cc                    5            2815             420              675

## Definizione di funzioni
La sintassi prevista da Pyhont per la desinizione di funzioni e; estremamente succinta. Cio' nonostante, puo' esserci bisogno di renderla ancora piu' essenziale in diversi contesti. Consideriamo i seguenti esempi:

In [ ]:
def doubler(x):
  return 2*x

def is_positive(x):
  return x>0

def sum(x,y):
  return x+y

In [ ]:
print(doubler(5))
print(is_positive(0))
print(sum(4,11))

10
False
15

In determinati contesti puo' essere necessario la definizioni di funzioni al volo, **funzioni effimere**, da utilizzare solo in quel punto del codice. Per questi casi e' possibile usare le funzioni lambda. Si tratta di una sintassi alternativa che ci permette di definire al volo una funzione. Nel caso avessimo bisogno di fissare queste funzione per utilizzarle altrove, le possiamo salvera in alcune variabili.

In [ ]:
doubler2=(lambda x: 2*x)

is_positive2=(lambda x: x>0)

sum2=(lambda x,y: x+y)

In [ ]:
print(doubler2(32))
print(is_positive2(3))
print(sum(1,1))

64
True
2