<a href="https://colab.research.google.com/github/FrancescoSarandrea/deeplearning/blob/main/DeepEx3b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Semplice esercizio per confrontare le caratteristiche di liste e tuple. La prima soluzione provata utilizza una lista di tuple, uno degli elementi della tupla sara' a sua volta una lista (voti degli esami) per poter essere modificabili.

In [ ]:
students=[('Matteo Rossi',(32,7,1980),["Matematica","2/30","14","6","2012"]), ('Anna Karenina',(12,12,2012),["Matematica","2/30","14","6","2012"]),('Carlotta Santi',(3,1,1930),["Matematica","2/30","14","6","2012"]),('Alessandro Chiari',(24,2,1991),["Matematica","2/30","14","6","2012"])]

In [ ]:
#visualizza l'anno di nascita del terzo studente
print(students[2][1][2])

#modifica il voto di matematica del primo studente
students[0][2][1]="4/30"
print(students[0][2][1])

1930
4/30

In [ ]:
#visualizza l'esame, il voto e l'anno per ogni studente
for i in range(0,len(students)):
  print([students[i][2][0],students[i][2][1],students[i][2][4]])

['Matematica', '4/30', '2012']
['Matematica', '2/30', '2012']
['Matematica', '2/30', '2012']
['Matematica', '2/30', '2012']

E se invece avessimo una tupla di tuple?

In [ ]:
students2=(('Matteo Rossi',(32,7,1980),["Matematica","2/30","14","6","2012"]))
# devo creare una copia della tupla
t= students[0][2][1]

'2/30'